#layout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

#left {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: flex-end;
}

#content-left-container {
  width: 275px;
}

#content-left {
  position: fixed;
}

#logo-div {
  flex-grow: 1;
  display: flex;
}

#main {
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  width: 600px;
  height: 2000px;
}

#right {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

#content-right-container {
  width: 350px;
}

#content-right {
  position: fixed;
}

@media only screen and (max-width: 1298px) {
  #content-left {
    width: fit-content;
  }
}

@media only screen and (max-width: 1022px) {
  #content-right {
    display: none;
  }
}
